{% extends "app/layout.html" %}

{% load static %}

{% block body %}
    
    <div class="container p-5 my-4 shadow-lg" style="background-color: #ffffffb3;">
        {% if user.is_authenticated %}
            <center>
                <h1 style="color: #243a70;" class="display-3"><b>Bienvenido a SIACOM</b></h1>
                <div id="carouselSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <h1 class="display-4" style="font-size: 40px;">Herramienta para formulación de presupuestos de obras previo análisis de precios unitarios, es un modelo práctico para costos por unidad de partidas que conforman los presupuestos de obras.</h1>
                        </div>

                        <div class="carousel-item">
                            <h1 class="display-4" style="font-size: 40px;">Accede a las funciones disponibles a través del menú de navegación!</h1>
                        </div>

                        <div class="carousel-item">
                            <h1 class="display-4" style="font-size: 40px;">Crea reportes en formatos PDF y Microsoft Office Excel!</h1>
                        </div>

                        <div class="carousel-item">
                            <h1 class="display-4" style="font-size: 40px;">Fácil de usar</h1>
                        </div>

                        <div class="carousel-item">
                            <h1 class="display-4" style="font-size: 40px;">Tablas con opciones de búsqueda y filtrado!</h1>
                        </div>
                    </div>
                </div>                
            </center>
        {% else %}
            <center>
                <h1 style="color: #243a70;" class="display-3"><b>SIACOM</b></h1>

                <h1 class="display-4" style="font-size: 42px;">Sistema de Compútos de Obras</h1>
                <h1 class="display-4" style="font-size: 42px;">Redes Eléctricas de Distribución</h1>

                <br>

                <a class="btn btn-light btn-lg rounded-pill border border-dark shadow" href="{% url 'login' %}" role="button">Iniciar sesión</a>
            </center>
        {% endif %}
    </div>

    <footer class="page-footer font-small blue fixed-bottom">
        <center>
            <p>
                <b>Desarrollado por</b>:<br>
                <b>Tutor Industrial</b>: MSc. Ing. José M. Suárez Marín<br>
                <b>Pasante</b>: Br. Luis C. Gerdez Pitre<br>
                © 2022
            </p>

            <img src="{% static 'app/images/corpoelec-footer.png' %}" width="380" height="36">
        </center>
    </footer>
        
{% endblock %}