{% extends "app/layout.html" %}

{% block body %}
	{% if exists == True  %}
		{% if user_type == 2  %}
			{% if user.username == username %}
				{% if complete_profile == True  %}
        			<div class="alert alert-secondary" role="alert"><center>Complete your profile so employers can know more about you!</center></div>
    			{% endif %}
    		{% endif %}
			<center>
				<div class="container p-2 my-2 bg-dark text-white">
					<h1>{{ username }}</h1>

					<div id="employee-description-container">
						<p id="employee-description-content" style="text-align: center; color: gray; font-size: 18px;">{{ description }}</p>

						{% if user.username == username %}
							<button type="button" class="btn btn-link btn-sm" id="employee-btn-edit-description">Edit</button>
						{% endif %}
					</div>
				</div>
				<div class="container p-2 my-1 border border-dark">
					<h4><i class="bi bi-briefcase"> Experience</i></h4>
					<div id="employee-experience-container">
						{% if user.username == username %}
							<button type="button" class="btn btn-link btn-sm" id="employee-btn-edit-experience">Edit</button>
						{% endif %}
						{% for xp in experience %}
    						<p id="employee-experience-content" style="text-align: center; color: gray; font-size: 18px; margin: 0px; padding: 0px">{{ xp }}</p>
						{% endfor %}
					</div>
				</div>
				<div class="container p-2 my-1 border border-dark">
					<h4><i class="bi bi-card-text"> Education</i></h4>
					<div id="employee-education-container">
						{% if user.username == username %}
							<button type="button" class="btn btn-link btn-sm" id="employee-btn-edit-education">Edit</button>
						{% endif %}
						{% for educ in education %}
    						<p id="employee-education-content" style="text-align: center; color: gray; font-size: 18px; margin: 0px; padding: 0px">{{ educ }}</p>
						{% endfor %}
					</div>
				</div>
				<div class="container p-2 my-1 border border-dark">
					<h4><i class="bi bi-book"> Courses</i></h4>
					<div id="employee-courses-container">
						{% if user.username == username %}
							<button type="button" class="btn btn-link btn-sm" id="employee-btn-edit-courses">Edit</button>
						{% endif %}
						{% for course in courses %}
    						<p id="employee-courses-content" style="text-align: center; color: gray; font-size: 18px; margin: 0px; padding: 0px">{{ course }}</p>
						{% endfor %}
					</div>
				</div>
				<div class="container p-2 my-1 border border-dark">
					<h4><i class="bi bi-people"> Languages</i></h4>
					<div id="employee-lang-container">
						{% if user.username == username %}
							<button type="button" class="btn btn-link btn-sm" id="employee-btn-edit-lang">Edit</button>
						{% endif %}
						{% for lang in languages %}
    						<p id="employee-lang-content" style="text-align: center; color: gray; font-size: 18px; margin: 0px; padding: 0px">{{ lang }}</p>
						{% endfor %}
					</div>
				</div>
			</center>
		{% elif user_type == 1 %}
			<center>
				<div class="container p-2 my-2 bg-dark text-white">
					<h1>{{ name }}</h1>

					<div id="employer-description-container">
						<p id="employer-description-content" style="text-align: center; color: gray; font-size: 18px;">{{ description }}</p>

						{% if user.username == username %}
							<button type="button" class="btn btn-link btn-sm" id="employer-btn-edit-description">Edit</button>
						{% endif %}
					</div>
				</div>

				<center><h2 style="margin-top: 30px;">Jobs posted by this company:</h2></center>
				<center>
    				<div id="user-jobs-view"></div>
    			</center>
			</center>
		{% endif %}
	{% else %}
		<center>
			<div class="container p-4 my-3 border">
				<h1>This user doesn't exist!</h1>
			</div>
		</center>
	{% endif %}
{% endblock %}