{% extends "app/layout.html" %}

{% block body %}
    {% if msg %}
        <div class="alert {{ alert_type }}" role="alert" style="margin-top: 5px; margin-bottom: 5px; margin-right: 20px; margin-left: 20px;">
            {{ msg }}
        </div>
    {% endif %}

    <div class="container bg-light p-3 my-2 shadow-lg">
        <center><h4>REGISTRAR NUEVO USUARIO</h4></center>

        <div style="margin: 10px;">
            <form action="{% url 'register' %}" method="post" id="form">
                {% csrf_token %}

                <center><h6>Información de usuario</h6></center>

                <div class="form-group form-row" style="margin-bottom: 0px;">
                    <div class="col">
                        <label for="username">Nombre de usuario</label>
                        <div class="input-group mb-3">
                            <input class="form-control form-control-sm" type="text" name="username" required>
                        </div>
                    </div>

                    <div class="col">
                        <label for="email">Correo electronico</label>
                        <div class="input-group mb-3">
                            <input class="form-control form-control-sm" type="email" name="email">
                        </div>
                    </div>
                </div>

                <div class="form-group form-row" style="margin-bottom: 0px; margin-top: 0px;">
                    <div class="col">
                        <label for="password">Contraseña</label>
                        <div class="input-group mb-3">
                            <input class="form-control form-control-sm" type="password" name="password" required>
                        </div>
                    </div>

                    <div class="col">
                        <label for="confirmation">Confirmar contraseña</label>
                        <div class="input-group mb-3">
                            <input class="form-control form-control-sm" type="password" name="confirmation" required>
                        </div>
                    </div>
                </div>

                <center><h6>Permisos de usuario</h6></center>

                <label for="tipo_usuario">Tipo de usuario</label>
                <select class="form-control form-control-sm" name="tipo_usuario" id="tipo_usuario" required>
                    <option value="" selected>Seleccionar tipo de usuario</option>
                    <option value="1">Usuario</option>
                    <option value="2">Administrador</option>
                </select>

                <br>

                <div id="container_checkbox" style="display: block;">
                    <div class="form-group form-row" style="margin-bottom: 0px; margin-top: 0px;">
                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_add_equipos" id="check_add_equipos">
                                <label class="custom-control-label col-form-label-sm" for="check_add_equipos">Agregar equipos</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_equipos" id="check_change_equipos">
                                <label class="custom-control-label col-form-label-sm" for="check_change_equipos">Modificar equipos</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_delete_equipos" id="check_delete_equipos">
                                <label class="custom-control-label col-form-label-sm" for="check_delete_equipos">Eliminar equipos</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_add_materiales" id="check_add_materiales">
                                <label class="custom-control-label col-form-label-sm" for="check_add_materiales">Agregar materiales</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_materiales" id="check_change_materiales">
                                <label class="custom-control-label col-form-label-sm" for="check_change_materiales">Modificar materiales</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_delete_materiales" id="check_delete_materiales">
                                <label class="custom-control-label col-form-label-sm" for="check_delete_materiales">Eliminar materiales</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_add_personal" id="check_add_personal">
                                <label class="custom-control-label col-form-label-sm" for="check_add_personal">Agregar personal</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_personal" id="check_change_personal">
                                <label class="custom-control-label col-form-label-sm" for="check_change_personal">Modificar personal</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_delete_personal" id="check_delete_personal">
                                <label class="custom-control-label col-form-label-sm" for="check_delete_personal">Eliminar personal</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_add_partidas" id="check_add_partidas">
                                <label class="custom-control-label col-form-label-sm" for="check_add_partidas">Agregar partidas</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_partidas" id="check_change_partidas">
                                <label class="custom-control-label col-form-label-sm" for="check_change_partidas">Modificar partidas</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_delete_partidas" id="check_delete_partidas">
                                <label class="custom-control-label col-form-label-sm" for="check_delete_partidas">Eliminar partidas</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_add_areas" id="check_add_areas">
                                <label class="custom-control-label col-form-label-sm" for="check_add_areas">Agregar áreas</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_areas" id="check_change_areas">
                                <label class="custom-control-label col-form-label-sm" for="check_change_areas">Modificar áreas</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_delete_areas" id="check_delete_areas">
                                <label class="custom-control-label col-form-label-sm" for="check_delete_areas">Eliminar áreas</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_precioequipos" id="check_change_precioequipos">
                                <label class="custom-control-label col-form-label-sm" for="check_change_precioequipos">Precio de equipos</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_preciomateriales" id="check_change_preciomateriales">
                                <label class="custom-control-label col-form-label-sm" for="check_change_preciomateriales">Precio de materiales</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_preciopersonal" id="check_change_preciopersonal">
                                <label class="custom-control-label col-form-label-sm" for="check_change_preciopersonal">Precio de personal</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_analisis" id="check_change_analisis">
                                <label class="custom-control-label col-form-label-sm" for="check_change_analisis">Análisis de precios unitarios</label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_add_obras" id="check_add_obras">
                                <label class="custom-control-label col-form-label-sm" for="check_add_obras">Agregar obras</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_obras" id="check_change_obras">
                                <label class="custom-control-label col-form-label-sm" for="check_change_obras">Modificar obras</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_delete_obras" id="check_delete_obras">
                                <label class="custom-control-label col-form-label-sm" for="check_delete_obras">Eliminar obras</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_change_presupuesto" id="check_change_presupuesto">
                                <label class="custom-control-label col-form-label-sm" for="check_change_presupuesto">Modificar presupuestos</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" name="check_report_presupuesto" id="check_report_presupuesto">
                                <label class="custom-control-label col-form-label-sm" for="check_report_presupuesto">Reportes de presupuestos</label>
                            </div>
                        </div>

                    </div>
                </div>

                <br>

                <input class="btn btn-dark" type="submit" value="Registrar usuario">
            </form>
        </div>
    </div>
{% endblock %}