{% extends "app/layout.html" %}

{% block body %}
    {% if exists == True  %}
        <div class="container bg-light p-2 my-2 shadow-lg">
            <center>
                <a class="btn btn-danger btn-sm" href="{% url 'pdf_presupuesto_obra' obra.codigo %}" target="_blank" role="button"><i class="bi bi-file-pdf"></i> Reporte en PDF</a>

                <a class="btn btn-success btn-sm" href="{% url 'excel_presupuesto_obra' obra.codigo %}" target="_blank" role="button"><i class="bi bi-file-excel"></i> Reporte en Excel</a>
            </center>
        </div>
        
        <div class="container bg-light p-3 my-3 shadow-lg">
            <center><h4>PRESUPUESTO DE OBRA</h4></center>

            <form>
                <center>
                    <div class="form-group form-row" style="margin-bottom: 0px; margin-top: 0px;">
                        <div class="col">
                            <label for="equipo_codigo">Código obra</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-xs" id="obra_codigo" maxlength="6" value="{{ obra.codigo }}" readonly>
                            </div>
                        </div>
                        <div class="col">
                            <label for="obra_descripcion">Descripción</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control form-control-xs" id="obra_descripcion" value="{{ obra.descripcion }}" readonly>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered table-sm compact" id="tabla_partidas">
                        <thead class="thead-dark" style="font-size: 14px;">
                            <tr>
                                <th class="text-center" scope="col">#</th>
                                <th class="text-center" scope="col">Código</th>
                                <th scope="col">Descripción</th>
                                <th class="text-center" scope="col">Unidad</th>
                                <th class="text-center" scope="col">Cant.</th>
                                <th class="text-center" scope="col">Precio Unitario Bs.</th>
                                <th class="text-center" scope="col">Precio Total Bs.</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 12px;">
                            {% for partida in partidas %}
                                <tr>
                                    <td>{{ partida.num }}</td>
                                    <td>{{ partida.codigo }}</td>
                                    <td>{{ partida.descripcion }}</td>
                                    <td class="text-center">{{ partida.unidad }}</td>
                                    <td class="text-center">{{ partida.cantidad }}</td>
                                    <td class="text-right">{{ partida.unitario }}</td>
                                    <td class="text-right">{{ partida.price_total }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6" class="text-right">Subtotal: Bs.</td>
                                <td class="text-right">{{ obra.subtotal }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-left">Dificultad de la Obra:</td>
                                <td>{{ obra.grado_dificultad }}%</td>
                                <td colspan="3" class="text-right">Sub Total + Transporte: Bs.</td>
                                <td class="text-right">{{ obra.subtotal_transporte }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-left">Transporte ({{ obra.tarifa_transporte }}%): Bs.</td>
                                <td>{{ obra.transporte }}</td>
                                <td colspan="3" class="text-right">{{ obra.iva }}% IVA: Bs.</td>
                                <td class="text-right">{{ obra.t_iva }}</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-right">Total: Bs.</td>
                                <td class="text-right">{{ obra.total }}</td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </form>
        </div>
    {% else %}
        <div class="container bg-light p-2 my-2 shadow-lg">
            <center>
                <h1 class="display-2">Error</h1>

                <div style="font-size: 120px;">
                    <i class="bi bi-exclamation-circle"></i>
                </div>
                
                <h1 class="display-4">Obra no encontrada!</h1>
            </center>
        </div>
    {% endif %}
{% endblock %}